<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension
         point="org.eclipse.core.runtime.applications"
         id="ModelEditorAdvisorApplication">
      <!-- @generated swtform -->
      <application>
         <run class="de.dc.swtform.xcore.model.presentation.ModelEditorAdvisor$Application"/>
      </application>
   </extension>

   <extension point="org.eclipse.ui.perspectives">
      <!-- @generated swtform -->
      <perspective
            name="%_UI_Perspective_label"
            class="de.dc.swtform.xcore.model.presentation.ModelEditorAdvisor$Perspective"
            id="de.dc.swtform.xcore.model.presentation.ModelEditorAdvisorPerspective">
      </perspective>
   </extension>

   <extension point="org.eclipse.ui.commands">
      <!-- @generated swtform -->
      <command
            name="%_UI_Menu_OpenURI_label"
            description="%_UI_Menu_OpenURI_description"
            categoryId="org.eclipse.ui.category.file"
            id="de.dc.swtform.xcore.model.presentation.ModelEditorAdvisorOpenURICommand"/>
      <command
            name="%_UI_Menu_Open_label"
            description="%_UI_Menu_Open_description"
            categoryId="org.eclipse.ui.category.file"
            id="de.dc.swtform.xcore.model.presentation.ModelEditorAdvisorOpenCommand"/>
   </extension>

   <extension point="org.eclipse.ui.bindings">
      <!-- @generated swtform -->
      <key
            commandId="de.dc.swtform.xcore.model.presentation.ModelEditorAdvisorOpenURICommand"
            sequence="M1+U"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            commandId="de.dc.swtform.xcore.model.presentation.ModelEditorAdvisorOpenCommand"
            sequence="M1+O"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
   </extension>

   <extension point="org.eclipse.ui.actionSets">
      <!-- @generated swtform -->
      <actionSet
            label="%_UI_ModelEditorAdvisor_ActionSet_label"
            visible="true"
            id="ModelEditorAdvisorActionSet">
         <action
               label="%_UI_Menu_About_label"
               class="de.dc.swtform.xcore.model.presentation.ModelEditorAdvisor$AboutAction"
               menubarPath="help/additions"
               id="de.dc.swtform.xcore.model.presentation.ModelEditorAdvisorAboutAction"/>
         <action
               label="%_UI_Menu_OpenURI_label"
               definitionId="de.dc.swtform.xcore.model.presentation.ModelEditorAdvisorOpenURICommand"
               class="de.dc.swtform.xcore.model.presentation.ModelEditorAdvisor$OpenURIAction"
               menubarPath="file/additions"
               id="de.dc.swtform.xcore.model.presentation.ModelEditorAdvisorOpenURIAction"/>
         <action
               label="%_UI_Menu_Open_label"
               definitionId="de.dc.swtform.xcore.model.presentation.ModelEditorAdvisorOpenCommand"
               class="de.dc.swtform.xcore.model.presentation.ModelEditorAdvisor$OpenAction"
               menubarPath="file/additions"
               id="de.dc.swtform.xcore.model.presentation.ModelEditorAdvisorOpenAction"/>
      </actionSet>
   </extension>

   <extension point="org.eclipse.ui.actionSets">
      <!-- @generated swtform -->
      <actionSet
            label="%_UI_ModelModelWizard_ActionSet_label"
            visible="true"
            id="de.dc.swtform.xcore.model.presentation.ModelActionBarContributorActionSet">
         <action
               label="%_UI_ModelModelWizard_label"
               class="de.dc.swtform.xcore.model.presentation.ModelActionBarContributor$NewAction"
               menubarPath="file/new/additions"
               id="de.dc.swtform.xcore.model.presentation.ModelActionBarContributorNewAction"/>
      </actionSet>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated swtform -->
      <editor
            id="de.dc.swtform.xcore.model.presentation.ModelEditorID"
            name="%_UI_ModelEditor_label"
            icon="icons/full/obj16/ModelModelFile.gif"
            extensions="swtform"
            class="de.dc.swtform.xcore.model.presentation.ModelEditor"
            contributorClass="de.dc.swtform.xcore.model.presentation.ModelActionBarContributor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="de.dc.swtform.designer.editor.Preview"
            id="de.dc.swtform.designer.editor.Preview"
            name="Preview"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="de.dc.swtform.designer.editor.SwtFormObjectContribution"
            objectClass="de.dc.swtform.xcore.model.SwtForm">
         <action
               class="de.dc.swtform.designer.action.GenerateUiaction"
               id="de.dc.swtform.designer.editor.GenerateUiaction"
               label="Generate UI">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="de.dc.swtform.xcore.model.presentation.ModelEditorAdvisorPerspective">
         <view
               id="org.eclipse.jdt.ui.PackageExplorer"
               minimized="false"
               ratio="0.20f"
               relationship="left"
               relative="org.eclipse.ui.editorss">
         </view>
         <view
               id="de.dc.swtform.designer.editor.Preview"
               minimized="false"
               ratio="0.75f"
               relationship="right"
               relative="org.eclipse.ui.editorss">
         </view>
         <view
               id="org.eclipse.ui.views.PropertySheet"
               minimized="false"
               ratio="0.25f"
               relationship="top"
               relative="org.eclipse.ui.editorss">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
