<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="de.dc.swtform.designer.preview.Preview"
            id="de.dc.swtform.designer.preview.Preview"
            name="Preview"
            restorable="true">
      </view>
   </extension>

</plugin>
